<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="id.gits.imageactivitylib"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application
        android:allowBackup="true"
        android:label="@string/title_displayer"
        android:supportsRtl="true"
        tools:replace="android:label">
        <activity
            android:name=".JokeActivity"
            android:label="@string/title_displayer">
        </activity>
    </application>

</manifest>
